@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #121212;
}

.App {
    padding: 25px;
    text-align: center;
    font-family: 'Public Sans', sans-serif;
    color: #f9faf9;
}

.details {
    gap: 250px;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    border: 2px solid #03dac5;
    border-radius: 10px;
}

button {
    font-size: 18px;
    color: #000000;
    background-color: #03dac5;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    border: 2px solid transparent;
}

button:hover {
    font-size: 18px;
    background-color: #121212;
    color: #03dac5;
    border:2px solid #03dac5;
    padding: 10px;
    border-radius: 5px;
    transition: 0.15s;
}

.general {
    margin-top: 20px;
}

#general-name {
    margin-bottom: 25px;
    font-size: 50px;
}

#general-phone, #general-email {
    margin-bottom: 20px;
}

h2 {
    font-weight: 600;
    font-size: 30px;
}

h3, h4 {
    font-weight: 400;
    font-size: 20px;
}

#app-name {
    font-size: 60px;
    color: #03dac5;
}

.exp-edu {
    padding: 20px;
}

.icon {
    color: #03dac5;
    margin-right: 15px;
}

.exp, .edu {
    margin-top: 0px;
    margin-bottom: 50px;
}

h1 {
    font-size: 40px;
}

.form {
    background-color: #121212;
    padding: 30px;
}

label {
    font-size: 25px;
    color: #03dac5;
}

input {
    width: 50%;
    height: 30px;
    font-size: 20px;
    padding: 15px;
    background-color: #121212;
    border: 2px solid #03dac5;
    color: #ffffff;
    margin: 10px;
    color-scheme: dark;
    text-align: center;
}

.work, .education {
    padding: 20px;
    background-color: #161616;
    border-radius: 10px;
    margin: auto;
    width: 50%;
}